<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="book">

	<resultMap type="bovo" id="bovoMap">
		<id column="BO_NUM" property="boNum" />
		<result column="MEM_NAME" property="memName" />
		<result column="MEM_PHONE" property="memPhone" />
		<result column="PRO_NAME" property="proName" />
		<result column="PRO_ADRESS" property="proAddress" />
		<result column="PRO_PRICE" property="proPrice" />
	</resultMap>

	<insert id="boinsert">
		INSERT INTO book VALUES (
		#{boNum}
		, #{memName}
		, #{memPhone}
		, #{proName}
		, #{proAddress}
		, #{proPrice})
	</insert>

	<update id="boupdate">

	</update>

	<delete id="bodelete">
		DELETE FROM book WHERE BO_NUM = #{boNum}
	</delete>

	<select id="boselectOne" resultType="bovo">
		SELECT BO_NUM, MEM_NAME, MEM_PHONE, PRO_NAME, PRO_ADRESS, PRO_PRICE
		FROM book WHERE BO_NUM = #{boNum} order by BO_NUM
	</select>

	<select id="boselectList" resultType="bovo">
		SELECT BO_NUM, MEM_NAME,
		MEM_PHONE, PRO_NAME, PRO_ADRESS, PRO_PRICE
		FROM book order by BO_NUM
	</select>

	<select id="boselectCount" resultType="_int">
		SELECT COUNT(*) FROM book
	</select>

</mapper>
