<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memroomns">
	<resultMap type="mervo" id="mmervo">
		<id column="MEM_ID" property="memId"/>
		<result column="ROOM_ID" property="roomId"/>
	</resultMap>

	<select id="viewMemberId" resultType="mervo">
		SELECT * FROM MEMBER_ROOM WHERE MEM_ID= #{memId} AND ROOM_ID = #{roomId}
	</select>
	
	<insert id="addMemId">
		INSERT INTO MEMBER_ROOM(MEM_ID, ROOM_ID) VALUES(#{memId}, #{roomId})
	</insert>
</mapper>
