<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
  
<insert id="insert">
	INSERT INTO NOTICE VALUES(
           (SELECT NVL(MAX(NOTI_NUM), 0)+1 FROM NOTICE)
         , #{memId}
         , #{notiIdx}
         , #{notiTitle}
         , #{notiContents}
         , DEFAULT
	 <choose>
	 	<when test="originalFilename != null and !originalFilename.equals('')">
	 	 , #{originalFilename}
	 	 , #{renameFilename}
	 	</when>
	 	<otherwise>
	 	 , NULL
         , NULL
	 	</otherwise>
	 </choose>
	)
</insert>

<update id="update">
	UPDATE NOTICE 
	   SET NOTI_TITLE = #{notiTitle}
         , NOTI_CONTENTS = #{notiContents}
     WHERE NOTI_NUM = #{notiNum}
</update>

<delete id="delete" parameterType="novo">
	DELETE FROM NOTICE WHERE NOTI_NUM = #{notiNum}
</delete>

<select id="selectOneCount" resultType="_int">
SELECT COUNT(*) CNT FROM NOTICE
	<if test="notiIdx != null and notiIdx neq ''">
		WHERE NOTI_IDX like '%'||#{notiIdx}||'%'		
	</if>
</select>

<select id="selectList" resultType="novo">
	SELECT * FROM NOTICE
   	<if test="notiIdx != null">
     WHERE NOTI_IDX = #{notiIdx}
   	</if>          
     ORDER BY NOTI_DATE DESC
</select>

</mapper>
