<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">	
	
	<select id="selectList" resultType="pdvo">
		SELECT PRO_NUM
      		 , PRO_NAME
             , SUBSTR(PRO_ADDRESS,3) AS PRO_ADDRESS
             , PRO_PHONE
             , MIN(PRO_PRICE) AS PRO_PRICE
		  FROM MAP 
    LEFT OUTER JOIN PRODUCT
         USING (PRO_NUM)
    LEFT OUTER JOIN PROTIME 
         USING (PRO_NUM)
   <trim prefix="WHERE" prefixOverrides="AND|OR">
       <if test="proAddress != null and proAddress neq ''">
         PRO_ADDRESS LIKE '%'||#{proAddress}||'%'
       </if>
       <if test="proUseTime != null and proUseTime neq ''">
         OR PRO_USE_TIME = #{proUseTime}
       </if>
   </trim>         
         GROUP BY (PRO_NUM, PRO_NAME, PRO_ADDRESS, PRO_PHONE)
         ORDER BY PRO_NUM
	</select>
	
	<select id="selectOneCount" resultType="_int">
	SELECT COUNT(*) CNT
	  FROM MAP 
      LEFT OUTER JOIN PRODUCT
     USING (PRO_NUM)
	<if test="proUseTime != null and proUseTime neq ''">
      LEFT OUTER JOIN PROTIME 
     USING (PRO_NUM) 
	</if>
	<trim prefix="WHERE" prefixOverrides="AND|OR">
       <if test="proAddress != null and proAddress neq ''">
         PRO_ADDRESS LIKE '%'||#{proAddress}||'%'
       </if>
       <if test="proUseTime != null and proUseTime neq ''">
         OR PRO_USE_TIME = #{proUseTime}
       </if>
    </trim> 
    </select>
	
	
	
	
<!-- 	상세 페이지 화면 -->
	<select id="proDetail"  resultType="pdto">
	SELECT
			pro_num 
		  ,pro_name
		  ,pro_post
		  ,pro_info
		  ,pro_notice
		  ,pro_refund
		  ,pro_phone
		  from map
    LEFT OUTER JOIN PRODUCT
         USING (PRO_NUM)
    LEFT OUTER JOIN PROTIME 
         USING (PRO_NUM)
         where pro_num = #{proNum}
<!-- 	WHERE PRO_NUM LIKE '%'||#{proNum}||'%' -->

	</select>
	
	<!-- qna 관련 -->
	<insert id="insertQna" parameterType="qvo">
		INSERT INTO QNA VALUES(
		       #{proNum}
	    	 , (SELECT PRO_NAME FROM MAP WHERE PRO_NUM = #{proNum})
			 , #{memId}
		     , #{memQuestion}
			 , (SELECT MEM_AUTHORITY FROM MEMBER WHERE MEM_ID = #{memId})
			 , NULL
		     , SYSDATE
		)
	</insert>
	
	<select id="selectQnaList" resultType="qvo">
		SELECT * 
		  FROM QNA
	    <if test="proNum != null and proNum neq ''">
         WHERE PRO_NUM = #{proNum}
   	    </if>		 
		 ORDER BY QNA_DATE DESC
	</select>
</mapper>
